html{
    background: url("doc.jpg") scroll;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Calibri, Helvetica, sans-serif, Arial;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.ul li {
    float: left;
}

.ul li a {
    display: block;
    color: white;
    text-align: center;
    margin: 20px 10px;
    padding: 10px 13px;
    text-decoration: none;
    font-family: Calibri, Helvetica, sans-serif, Arial;
    border-radius: 50px;
    margin-right: 100px;
}

.ul li a:hover {
    background-color: #111;
}

.ul .a1{
    margin-left: 300px;
    /*background-color: #04AA6D;*/
}

.ul .a2{
    background-color: #0c4c8c;
}

span{
    font-weight: bold;
}

div.gallery {
    margin: 120px;
    float: left;
    width: 350px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
 div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    background-color: #8b9dc3;
    box-shadow: 0 0 20px rgba(91, 119, 245, 0.4);
}